{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load collective_tags %}
{% load blog_tags %}
{% load galery_tags %}


{% block title %}{% trans "Qabul" %}{% endblock %}

{% block content %}
<!--====== PAGE BANNER PART START ======-->

<section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="6"
    style="background-image: url({% static 'images/page-banner-1.jpg' %});">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-banner-cont">
                    <h2 style="transform: translateY(200px);">{% trans "Qabul" %}</h2>

                </div> <!-- page banner cont -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== PAGE BANNER PART ENDS ======-->



<!--====== FOR APPLICANTS PART START ======-->
<section class="pt-20 pb-20">
    <div class="container ml-20 mr-20">
        <div class="row">
            <div class="col-lg-12">
                <div class="">
                    <h3>{% trans "Abituriyentlar uchun ma'lumot" %}</h3>
                    <p>
                        {% trans "Ma'lumot-p1" %}
                    </p>
                    <br><br>
                    <p>
                        {% trans "Ma'lumot-p2" %}
                    </p>

                    <br><br>
                    <p>{% trans "Ma'lumot-p3" %}</p>
                    <p>{% trans "Ma'lumot-p4" %}</p>

                </div> <!-- page banner cont -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== SUBJECTS SECTION PART ======-->
<section class="section-color py-5">

    <div class="container">
        <h3>
            {% trans "Litseyda quyidagi 3ta yo'nalish bo'yicha o'qitiladi" %}
        </h3>

        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <div class="subject-item">
                    <div class="subject-icon">
                        <i class="fa fa-globe"></i>
                    </div>
                    <div>
                        <div>
                            <h3 style="font-size: 21px ;font-weight: 700 ;text-transform: none ;">
                                {% trans "Chet el adabiyoti" %}
                            </h3>
                        </div>
                        <div style="font-size: 16px ;text-transform: none ;">
                            <p>
                                <span style="font-weight: 400;">{% trans "Ingliz tili" %}</span><br>
                                <span style="font-weight: 400;">{% trans "Nemis tili" %}</span><br>
                                <span style="font-weight: 400;">{% trans "Fransuz tili" %}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="subject-item">
                    <div class="subject-icon">
                        <i class="fa fa-users"></i>
                    </div>
                    <div>
                        <div>
                            <h3 style="font-size: 21px ;font-weight: 700 ;text-transform: none ;">
                                {% trans "Ijtimoiy-gumanitar fanlar" %}
                            </h3>
                        </div>
                        <div style="font-size: 16px ;text-transform: none ;">
                            <p>
                                <span style="font-weight: 400;">{% trans "Tarix" %}</span>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="subject-item">
                    <div class="subject-icon">
                        <i class="fa fa-line-chart"></i>
                    </div>
                    <div>
                        <div>
                            <h3 style="font-size: 21px ;font-weight: 700 ;text-transform: none ;">
                                {% trans "Aniq fanlar" %}
                            </h3>
                        </div>
                        <div style="font-size: 16px ;text-transform: none ;">
                            <p class="text-light">
                                <span style="font-weight: 400;">{% trans "Iqtisod" %}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--====== SUBJECTS SECTION PART ENDS ======-->

<section class="pt-20 pb-20">
    <div class="container ml-20 mr-20">
        <div class="row">
            <div class="col-lg-12">
                <div class="">
                    <p>{% trans "Ma'lumot-p5" %}</p>
                    <br><br>
                    <p>{% trans "Ma'lumot-p6" %}
                    </p>
                    <br><br>
                    <p>{% trans "Ma'lumot-p7" %}
                    </p>

                    <br><br>
                    <p>{% trans "Ma'lumot-p8" %}</p>
                    <p>{% trans "Ma'lumot-p9" %}</p>

                </div> <!-- page banner cont -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>
{% endblock %}