{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load collective_tags %}
{% load blog_tags %}
{% load galery_tags %}

{% block title %}{% trans "Biz bilan aloqa" %}{% endblock %}

{% block content %}
<!--====== PAGE BANNER PART START ======-->

<section id="page-banner" class="pt-105 pb-130 bg_cover" data-overlay="8"
    style="background-image: url({% static 'images/page-banner-6.jpg' %})">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-banner-cont">
                    <h2>{% trans "Bog'lanish" %}</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">{% trans "Bosh Sahifa" %}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{% trans "Bog'lanish" %}</li>
                        </ol>
                    </nav>
                </div> <!-- page banner cont -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== PAGE BANNER PART ENDS ======-->

<!--====== CONTACT PART START ======-->

<section id="contact-page" class="pt-90 pb-120 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="contact-from">
                    <div class="section-title">
                        <h5>{% trans "Biz bilan bog'lanish" %}</h5>
                        <h2>{% trans "Xabar jo'natish" %}</h2>
                    </div> <!-- section title -->

                    <div class="main-form pt-45">
                        <form id="contact-form" action="{% url 'pages:check' %}" method="POST" data-toggle="validator">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="singel-form form-group">
                                        <input name="name" type="text" placeholder="{% trans 'Ismingiz' %}"
                                            data-error="{% trans 'Ism talab qilingan' %}" required="required">
                                        <div class="help-block with-errors"></div>
                                    </div> <!-- singel form -->
                                </div>
                                <div class="col-md-6">
                                    <div class="singel-form form-group">
                                        <input name="email" type="email" placeholder="{% trans 'Email' %}"
                                            data-error="{% trans 'Xato email kiritildi' %}" required="required">
                                        <div class="help-block with-errors"></div>
                                    </div> <!-- singel form -->
                                </div>
                                <div class="col-md-6">
                                    <div class="singel-form form-group">
                                        <input name="subject" type="text" placeholder="{% trans 'Mavzu' %}"
                                            data-error="{% trans 'Mavzu talab qilingan' %}" required="required">
                                        <div class="help-block with-errors"></div>
                                    </div> <!-- singel form -->
                                </div>
                                <div class="col-md-6">
                                    <div class="singel-form form-group">
                                        <input name="phone" type="text" placeholder="{% trans 'Telefon raqam' %}"
                                            data-error="{% trans 'Telefon raqam talab qilingan' %}" required="required">
                                        <div class="help-block with-errors"></div>
                                    </div> <!-- singel form -->
                                </div>
                                <div class="col-md-12">
                                    <div class="singel-form form-group">
                                        <textarea name="message" placeholder="{% trans 'Xabar' %}"
                                            data-error="{% trans 'Iltimos, xabar qoldiring' %}"
                                            required="required"></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div> <!-- singel form -->
                                </div>
                                <p class="form-message"></p>
                                <div class="col-md-12">
                                    <div class="singel-form">
                                        <button type="submit" class="main-btn">{% trans "Yuborish" %}</button>
                                    </div> <!-- singel form -->



                                </div>
                            </div> <!-- row -->

                        </form>
                    </div> <!-- main form -->
                </div> <!--  contact from -->
            </div>
            <div class="col-lg-4">
                <div class="contact-address">
                    <div class="contact-heading">
                        <h5>{% trans "Manzil" %}</h5>
                        <p>{% trans "Agar sizda qandaydir savollar paydo bo'lsa, bemalol bizga bog'laning." %}
                        </p>
                    </div>
                    <ul>
                        <li>
                            <div class="singel-address">
                                <div class="icon">
                                    <i class="fa fa-home"></i>
                                </div>
                                <div class="cont">
                                    <p>{% trans "Bobur ko'chasi 55, Yakkasaroy, Toshkent" %}</p>
                                </div>
                            </div> <!-- singel address -->
                        </li>
                        <li>
                            <div class="singel-address">
                                <div class="icon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <div class="cont">
                                    <p>{% trans "+998 90 950 93 96" %}</p>
                                    <p>{% trans "+998 00 111 22 33" %}</p>
                                </div>
                            </div> <!-- singel address -->
                        </li>
                        <li>
                            <div class="singel-address">
                                <div class="icon">
                                    <i class="fa fa-envelope-o"></i>
                                </div>
                                <div class="cont">
                                    <p>{% trans "jahon_tillari@gmail.com" %}</p>
                                    <p>{% trans "some_address@gmail.com" %}</p>
                                </div>
                            </div> <!-- singel address -->
                        </li>
                        <li>
                            <div class="singel-address">
                                <div class="icon">
                                    <i class="fa fa-globe"></i>
                                </div>
                                <div class="cont">
                                    <p>{% trans "www.yoursite.uz" %}</p>
                                </div>
                            </div> <!-- singel address -->
                        </li>
                    </ul>
                </div> <!-- contact address -->

            </div>
        </div> <!-- row -->
    </div> <!-- container -->

</section>
<!-- <div class="map map-big">
    <div id="contact-map"></div>
</div> -->
<!--====== CONTACT PART ENDS ======-->
{% endblock %}