{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load collective_tags %}
{% load blog_tags %}
{% load galery_tags %}



{% block title %}{% trans "Jahon tillari litseyi" %}{% endblock %}

{% block content %}

<!--====== SLIDER PART START ======-->

<section id="slider-part" class="slider-active">
    <div class="single-slider bg_cover pt-150" style="background-image: url({% static 'images/slider/s-1.jpg' %})"
        data-overlay="4">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-9">
                    <div class="slider-cont">
                        <h1 data-animation="bounceInLeft" data-delay="1s">
                            {% trans "Jahon tillari universiteti Akademik litseyi" %}</h1>
                        <p data-animation="fadeInUp" data-delay="1.3s">{% trans "Litsey haqida qisqacha jumlalar" %}
                        </p>

                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- single slider -->

    <div class="single-slider bg_cover pt-150" style="background-image: url({% static 'images/slider/s-2.jpg' %})"
        data-overlay="4">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-9">
                    <div class="slider-cont">
                        <h1 data-animation="bounceInLeft" data-delay="1s">
                            {% trans "Jahon tillari universiteti Akademik litseyi" %}</h1>
                        <p data-animation="fadeInUp" data-delay="1.3s">{% trans "Litsey haqida qisqacha jumlalar" %}
                        </p>

                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- single slider -->

    <div class="single-slider bg_cover pt-150" style="background-image: url({% static 'images/slider/s-3.jpg' %})"
        data-overlay="4">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-9">
                    <div class="slider-cont">
                        <h1 data-animation="bounceInLeft" data-delay="1s">
                            {% trans "Jahon tillari universiteti Akademik litseyi" %}</h1>
                        <p data-animation="fadeInUp" data-delay="1.3s">{% trans "Litsey haqida qisqacha jumlalar" %}
                        </p>

                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- single slider -->
</section>

<!--====== SLIDER PART ENDS ======-->

<!--====== CATEGORY PART START ======-->

<section id="category-part">
    <div class="container">
        <div class="category pt-40 pb-80">
            <div class="row">
                <div class="col-lg-4">
                    <div class="category-text pt-40">
                        <h2>{% trans "Biz bilan dunyoga yo'l oching" %}</h2>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1 col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-8 offset-2">
                    <div class="row category-slied mt-40">
                        <div class="col-lg-4">
                            <a href="{% url 'news:post_list' %}">
                                <span class="singel-category text-center color-1">
                                    <span class="icon">
                                        <img src="{% static 'images/all-icon/ctg-1.png' %}" alt="Icon">
                                    </span>
                                    <span class="cont">
                                        <span>{% trans "Yangiliklar" %}</span>
                                    </span>
                                </span> <!-- singel category -->
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="{% url 'pages:contact' %}">
                                <span class="singel-category text-center color-2">
                                    <span class="icon">
                                        <img src="{% static 'images/all-icon/ctg-2.png' %}" alt="Icon">
                                    </span>
                                    <span class="cont">
                                        <span>{% trans "Bog'lanish" %}</span>
                                    </span>
                                </span> <!-- singel category -->
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="{% url 'pages:apply_page' %}">
                                <span class="singel-category text-center color-3">
                                    <span class="icon">
                                        <img src="{% static 'images/all-icon/ctg-3.png' %}" alt="Icon">
                                    </span>
                                    <span class="cont">
                                        <span>{% trans "Qabul" %}</span>
                                    </span>
                                </span> <!-- singel category -->
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="{% url 'news:post_list' %}">
                                <span class="singel-category text-center color-1">
                                    <span class="icon">
                                        <img src="{% static 'images/all-icon/ctg-1.png' %}" alt="Icon">
                                    </span>
                                    <span class="cont">
                                        <span>{% trans "Yangiliklar" %}</span>
                                    </span>
                                </span> <!-- singel category -->
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="{% url 'pages:contact' %}">
                                <span class="singel-category text-center color-2">
                                    <span class="icon">
                                        <img src="{% static 'images/all-icon/ctg-2.png' %}" alt="Icon">
                                    </span>
                                    <span class="cont">
                                        <span>{% trans "Bog'lanish" %}</span>
                                    </span>
                                </span> <!-- singel category -->
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="{% url 'pages:apply_page' %}">
                                <span class="singel-category text-center color-3">
                                    <span class="icon">
                                        <img src="{% static 'images/all-icon/ctg-3.png' %}" alt="Icon">
                                    </span>
                                    <span class="cont">
                                        <span>{% trans "Qabul" %}</span>
                                    </span>
                                </span> <!-- singel category -->
                            </a>
                        </div>
                    </div> <!-- category slied -->
                </div>
            </div> <!-- row -->
        </div> <!-- category -->
    </div> <!-- container -->
</section>

<!--====== CATEGORY PART ENDS ======-->

<!--====== ABOUT PART START ======-->

<section id="about-part" class="pt-65">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="section-title mt-50">
                    <h5>{% trans "Biz haqimizda" %}</h5>
                    <h2>{% trans "Jahon tillariga xush kelibsiz" %} </h2>
                </div> <!-- section title -->
                <div class="about-cont">
                    <p>
                        {% trans "Litesey tarixi" %}
                    </p>
                    <p>
                        {% trans "Litsey to'g'risida" %}
                    </p>
                    <a href="{% url 'pages:about' %}" class="main-btn mt-55">{% trans "Ko'proq o'qish" %}</a>
                </div>
            </div> <!-- about cont -->
            <div class="col-lg-6 offset-lg-1">
                <div class="about-event mt-50">
                    <div class="event-title">
                        <h3>{% trans "Yangiliklar" %}</h3>
                    </div> <!-- event title -->
                    <ul>
                        {% show_latest_posts 3 %}
                    </ul>
                </div> <!-- about event -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
    <div class="about-bg">
        <img src="{% static 'images/about/bg-1.png' %}" alt="About">
    </div>
</section>

<!--====== ABOUT PART ENDS ======-->




<!--====== TEASTIMONIAL PART START ======-->

<section id="testimonial" class="bg_cover pt-115 pb-115" data-overlay="8"
    style="background-image: url({% static 'images/bg-2.jpg' %})">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title pb-40">
                    <h5>{% trans "Fikrlar" %}</h5>
                    <h2>{% trans "Biz haqimizda nima deyishadi?" %}</h2>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row testimonial-slied mt-40">
            <div class="col-lg-6">
                <div class="singel-testimonial">
                    <div class="testimonial-thum">
                        <img src="{% static 'images/testimonial/t-1.jpg' %}" alt="Testimonial">
                        <div class="quote">
                            <i class="fa fa-quote-right"></i>
                        </div>
                    </div>
                    <div class="testimonial-cont">
                        <p>{% blocktrans %}
                            Litseyda tillarni o'rganish bo'yicha barcha shart sharoitlar
                            yaratilgan.
                            {% endblocktrans %}</p>
                        <h6>{% trans "Madina Ruslanova" %}</h6>
                        <span>{% trans "Tilshunoslik universiteti rektori" %}</span>
                    </div>
                </div> <!-- singel testimonial -->
            </div>
            <div class="col-lg-6">
                <div class="singel-testimonial">
                    <div class="testimonial-thum">
                        <img src="{% static 'images/testimonial/t-3.jpg' %}" alt="Testimonial">
                        <div class="quote">
                            <i class="fa fa-quote-right"></i>
                        </div>
                    </div>
                    <div class="testimonial-cont">
                        <p>{% blocktrans %}
                            Litsey haqida boshqa fikrlar, litsey haqida jumlalar,
                            litsey haqida jumlalar
                            {% endblocktrans %}</p>
                        <h6>{% trans "Ism Familiya" %}</h6>
                        <span>{% trans "Lavozim" %}</span>
                    </div>
                </div> <!-- singel testimonial -->
            </div>
            <div class="col-lg-6">
                <div class="singel-testimonial">
                    <div class="testimonial-thum">
                        <img src="{% static 'images/testimonial/t-2.jpg' %}" alt="Testimonial">
                        <div class="quote">
                            <i class="fa fa-quote-right"></i>
                        </div>
                    </div>
                    <div class="testimonial-cont">
                        <p>{% blocktrans %}
                            Jahon tillari litseyi bilimli o'quvchilarni yetishtirishda
                            ilg'or o'quv muassasasi hisoblanadi
                            {% endblocktrans %}</p>
                        <h6>{% trans "Bekzod Usmonov" %}</h6>
                        <span>{% trans "Tillar bo'yicha olim" %}</span>
                    </div>
                </div> <!-- singel testimonial -->
            </div>
        </div> <!-- testimonial slied -->
    </div> <!-- container -->
</section>

<!--====== TEASTIMONIAL PART ENDS ======-->


<!--====== COURSE PART START ======-->

<section id="course-part" class="pt-115 pb-120 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title pb-45">
                    <h5>{% trans "Litseydan fotolavhalar." %}</h5>
                    <h2>{% trans "Fotogalereya" %} </h2>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row course-slied mt-30">

            {% show_latest_events %}


        </div> <!-- course slied -->
    </div> <!-- container -->
</section>

<!--====== COURSE PART ENDS ======-->

<!--====== VIDEO FEATURE PART START ======-->

<section id="video-feature" class="bg_cover pt-60 pb-110" style="background-image: url({% static 'images/bg-1.png' %})">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-last order-lg-first">
                <div class="video text-lg-left text-center pt-50">
                    <a class="Video-popup" href="https://www.youtube.com/watch?v=0JFgebz5370"><i
                            class="fa fa-play"></i></a>

                </div> <!-- row -->
            </div>
            <div class="col-lg-5 offset-lg-1 order-first order-lg-last">
                <div class="feature pt-50">
                    <div class="feature-title">
                        <h3>{% trans "Bizning afzalliklar" %}</h3>
                    </div>
                    <ul>
                        <li>
                            <div class="singel-feature">
                                <div class="icon">
                                    <img src="{% static 'images/all-icon/f-1.png' %}" alt="icon">
                                </div>
                                <div class="cont">
                                    <h4>{% trans "Sifatli talim" %}</h4>
                                    <p>{% blocktrans %}
                                        Biz bilan birgalikda sifatli ta'lim oling va tillarni o'rganing.
                                        {% endblocktrans %}</p>
                                </div>
                            </div> <!-- singel feature -->
                        </li>
                        <li>
                            <div class="singel-feature">
                                <div class="icon">
                                    <img src="{% static 'images/all-icon/f-2.png' %}" alt="icon">
                                </div>
                                <div class="cont">
                                    <h4>{% trans "Ilg'or ustozlar" %}</h4>
                                    <p>{% blocktrans %}
                                        Bizning ustozlar jamoasi yuqori bilim va tajribaga ega.
                                        {% endblocktrans %}</p>
                                </div>
                            </div> <!-- singel feature -->
                        </li>
                        <li>
                            <div class="singel-feature">
                                <div class="icon">
                                    <img src="{% static 'images/all-icon/f-3.png' %}" alt="icon">
                                </div>
                                <div class="cont">
                                    <h4>{% trans "Kutubxona va kitoblar" %}</h4>
                                    <p>{% blocktrans %}
                                        Litsey katta kutubxona va 10000 dan ortiq kitoblar bazasiga
                                        ega.
                                        {% endblocktrans %}</p>
                                </div>
                            </div> <!-- singel feature -->
                        </li>
                    </ul>
                </div> <!-- feature -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
    <div class="feature-bg"></div> <!-- feature bg -->
</section>

<!--====== VIDEO FEATURE PART ENDS ======-->









<!--====== PATNAR LOGO PART START ======-->

<div id="patnar-logo" class="pt-40 pb-80 gray-bg">
    <div class="container">
        <div class="row patnar-slied">
            <div class="col-lg-12">
                <div class="singel-patnar text-center mt-40">
                    <img src="{% static 'images/patnar-logo/p-1.png' %}" alt="Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="singel-patnar text-center mt-40">
                    <img src="{% static 'images/patnar-logo/p-2.png' %}" alt="Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="singel-patnar text-center mt-40">
                    <img src="{% static 'images/patnar-logo/p-3.png' %}" alt="Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="singel-patnar text-center mt-40">
                    <img src="{% static 'images/patnar-logo/p-4.png' %}" alt="Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="singel-patnar text-center mt-40">
                    <img src="{% static 'images/patnar-logo/p-2.png' %}" alt="Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="singel-patnar text-center mt-40">
                    <img src="{% static 'images/patnar-logo/p-3.png' %}" alt="Logo">
                </div>
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</div>

<!--====== PATNAR LOGO PART ENDS ======-->
{% endblock %}