{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load embed_video_tags %}
{% load collective_tags %}
{% load blog_tags %}
{% load galery_tags %}

{% block title %}{% trans "Onlayn darslar" %}{% endblock %}

{% block content %}
<!--====== PAGE BANNER PART START ======-->

<section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="8"
    style="background-image: url({% static 'images/page-banner-2.jpg' %})">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-banner-cont">
                    <h2>{% trans "Onlayn darslar" %}</h2>

                </div> <!-- page banner cont -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== PAGE BANNER PART ENDS ======-->



<div class="container">

    {% for subject in subjects %}

    {% if subject.onlinelessons.all %}
    <h2>{{ subject.name }}</h2>
    {% endif %}


    <div class="row ">

        {% with lessons=subject.onlinelessons.all %}

        {% for lesson in lessons %}

        <div class="col-lg-4 mt-2 mb-2">
            {% video lesson.url '300x300'%}
            <div class="bg-dark p-2 m-2" style="color: white; text-align: center; max-width: 50%; border-radius: 4px">
                {{ lesson.name }}
            </div>
        </div>

        {% endfor %}

        {% endwith %}

    </div>
    {% empty %}
    {% trans "No lessons yet" %}
    {% endfor %}

</div>

{% endblock  %}