{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load collective_tags %}
{% load blog_tags %}
{% load galery_tags %}

{% block title %}{% trans "Fanlar ro'yxati" %}{% endblock %}

{% block content %}
<!--====== PAGE BANNER PART START ======-->

<section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="8"
    style="background-image: url({% static 'images/page-banner-2.jpg' %})">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-banner-cont">
                    <h2>{% trans "Qo'llanmalar" %}</h2>

                </div> <!-- page banner cont -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== PAGE BANNER PART ENDS ======-->




<div class="row col-lg-12 ">

    <div class="tab-pane col-lg-6 " id="curriculam" role="tabpanel" aria-labelledby="curriculam-tab">
        <div class="curriculam-cont">
            <div class="title">
                <h6>{% trans "Elektron kitoblar" %}</h6>
            </div>
            <div class="accordion" id="accordionExample">
                {% for subject in subjects %}
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <a href="#" data-toggle="collapse" data-target="#collapsebook{{ forloop.counter }}"
                            aria-expanded="true" aria-controls="collapsebook{{ forloop.counter }}">
                            <ul>
                                <li><i class="fa fa-file-o"></i></li>
                                <li><span class="lecture">{{ forloop.counter }}</span></li>
                                <li><span class="head">{{ subject.name}}</span></li>
                                <li><span class="time d-none d-md-block"> </span></li>
                            </ul>
                        </a>
                    </div>

                    <div id="collapsebook{{ forloop.counter }}"
                        class="collapse {% if forloop.counter == 1 %}show{% endif %} " aria-labelledby="headingOne"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            <p><a href="{% url 'edu:book_list' subject.slug '1' %}">{% trans "Bosqich" %} 1</a>
                            </p>
                            <p><a href="{% url 'edu:book_list' subject.slug '2' %}">{% trans "Bosqich" %} 2</a></p>
                        </div>
                    </div>
                </div>
                {% empty %}
                {% trans "No books" %}
                {% endfor %}


            </div>
        </div> <!-- curriculam cont -->
    </div>
    <div class="tab-pane col-lg-6" id="curriculam" role="tabpanel" aria-labelledby="curriculam-tab">
        <div class="curriculam-cont">
            <div class="title">
                <h6>{% trans "Prezentatsiyalar" %}</h6>
            </div>
            <div class="accordion" id="accordionExample2">
                {% for subject in subjects %}
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <a href="#" data-toggle="collapse" data-target="#collapseslide{{ forloop.counter }}"
                            aria-expanded="true" aria-controls="collapseOne">
                            <ul>
                                <li><i class="fa fa-file-o"></i></li>
                                <li><span class="lecture">{{ forloop.counter }}</span></li>
                                <li><span class="head">{{ subject.name}}</span></li>
                                <li><span class="time d-none d-md-block"> </span></li>
                            </ul>
                        </a>
                    </div>

                    <div id="collapseslide{{ forloop.counter }}"
                        class="collapse {% if forloop.counter == 1 %}show{% endif %} " aria-labelledby="headingOne"
                        data-parent="#accordionExample2">
                        <div class="card-body">
                            <p><a href="{% url 'edu:slide_list' subject.slug '1' %}">{% trans "Bosqich" %} 1</a>
                            </p>
                            <p><a href="{% url 'edu:slide_list' subject.slug '2' %}">{% trans "Bosqich" %} 2</a></p>
                        </div>
                    </div>
                </div>
                {% empty %}
                {% trans "No slides" %}
                {% endfor %}


            </div>
        </div> <!-- curriculam cont -->
    </div>
    <div class="tab-pane col-lg-6 " id="curriculam" role="tabpanel" aria-labelledby="curriculam-tab">
        <div class="curriculam-cont">
            <div class="title">
                <h6>{% trans "Video darslar" %}</h6>
            </div>
            <div class="accordion" id="accordionExample3">
                {% for subject in subjects %}
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <a href="#" data-toggle="collapse" data-target="#collapsevideo{{ forloop.counter }}"
                            aria-expanded="true" aria-controls="collapseOne">
                            <ul>
                                <li><i class="fa fa-file-o"></i></li>
                                <li><span class="lecture">{{ forloop.counter }}</span></li>
                                <li><span class="head">{{ subject.name}}</span></li>
                                <li><span class="time d-none d-md-block"> </span></li>
                            </ul>
                        </a>
                    </div>

                    <div id="collapsevideo{{ forloop.counter }}"
                        class="collapse {% if forloop.counter == 1 %}show{% endif %} " aria-labelledby="headingOne"
                        data-parent="#accordionExample3">
                        <div class="card-body">
                            <p><a href="{% url 'edu:video_list' subject.slug '1' %}">{% trans "Bosqich" %} 1</a>
                            </p>
                            <p><a href="{% url 'edu:video_list' subject.slug '2' %}">{% trans "Bosqich" %} 2</a></p>
                        </div>
                    </div>
                </div>
                {% empty %}
                {% trans "No videos" %}
                {% endfor %}


            </div>
        </div> <!-- curriculam cont -->
    </div>


</div>

{% endblock %}