{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load collective_tags %}
{% load blog_tags %}
{% load galery_tags %}


{% block title %}
{% trans "Litsey rahbariyati" %}
{% endblock title %}


{% block content %}
<div class="cont">


    <div class="adivisor pt-100">
        <div class="container my_cont">

            <div class="col-xl-4 col-lg-4 mb-30">
                <div class="advisor-img mb-35">
                    <img src="{% static 'images/adminstration/r-1.png' %}" alt="">
                </div>
                <div class="advisors-social-icon-list mb-30">
                    <span class="social-title">{% trans "Ijtimoiy tarmoqlar" %}</span>
                    <ul>
                        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="#"><span class="fa fa-telegram"></span></a></li>
                        <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                        <li><a href="#"><span class="fa fa-google"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-7 col-lg-8">
                <div class="adivisor-text-2 white-bg">
                    <div class="adivisor-text-heading d-flex mb-10">
                        <div class="adivisor-text-title adivisor-text-title-2">
                            <h4>Azizov Ulugbek Botirovich</h4>
                            <span>{% trans "Lavozim-1" %}</span>
                        </div>
                    </div>
                    <div class="adivisor-para adivisor-para-2">
                        <p>{% trans "Rahbar malumot-1" %}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>



    <div class="adivisor pt-100">
        <div class="container my_cont">

            <div class="col-xl-4 col-lg-4 mb-30">
                <div class="advisor-img mb-35">
                    <img src="{% static 'images/adminstration/r-2.png' %}" alt="">
                </div>
                <div class="advisors-social-icon-list mb-30">
                    <span class="social-title">{% trans "Ijtimoiy tarmoqlar" %}</span>
                    <ul>
                        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="#"><span class="fa fa-telegram"></span></a></li>
                        <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                        <li><a href="#"><span class="fa fa-google"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-7 col-lg-8">
                <div class="adivisor-text-2 white-bg">
                    <div class="adivisor-text-heading d-flex mb-10">
                        <div class="adivisor-text-title adivisor-text-title-2">
                            <h4>Kulmatov Bakhrom Gulyamovich</h4>
                            <span>{% trans "Lavozim-2" %}</span>
                        </div>
                    </div>
                    <div class="adivisor-para adivisor-para-2">
                        <p>{% trans "Rahbar malumot-2" %}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>



    <div class="adivisor pt-100">
        <div class="container my_cont">

            <div class="col-xl-4 col-lg-4 mb-30">
                <div class="advisor-img mb-35">
                    <img src="{% static 'images/adminstration/r-3.png' %}" alt="">
                </div>
                <div class="advisors-social-icon-list mb-30">
                    <span class="social-title">{% trans "Ijtimoiy tarmoqlar" %}</span>
                    <ul>
                        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="#"><span class="fa fa-telegram"></span></a></li>
                        <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                        <li><a href="#"><span class="fa fa-google"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-7 col-lg-8">
                <div class="adivisor-text-2 white-bg">
                    <div class="adivisor-text-heading d-flex mb-10">
                        <div class="adivisor-text-title adivisor-text-title-2">
                            <h4>Obidova Mahsuda Olimovna</h4>
                            <span>{% trans "Lavozim-3" %}</span>
                        </div>
                    </div>
                    <div class="adivisor-para adivisor-para-2">
                        <p>{% trans "Rahbar malumot-3" %}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>



    <div class="adivisor pt-100">
        <div class="container my_cont">

            <div class="col-xl-4 col-lg-4 mb-30">
                <div class="advisor-img mb-35">
                    <img src="{% static 'images/adminstration/r-4.png' %}" alt="">
                </div>
                <div class="advisors-social-icon-list mb-30">
                    <span class="social-title">{% trans "Ijtimoiy tarmoqlar" %}</span>
                    <ul>
                        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="#"><span class="fa fa-telegram"></span></a></li>
                        <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                        <li><a href="#"><span class="fa fa-google"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-7 col-lg-8">
                <div class="adivisor-text-2 white-bg">
                    <div class="adivisor-text-heading d-flex mb-10">
                        <div class="adivisor-text-title adivisor-text-title-2">
                            <h4>Islomova Marhabo Mamanovna</h4>
                            <span>{% trans "Lavozim-4" %}</span>
                        </div>
                    </div>
                    <div class="adivisor-para adivisor-para-2">
                        <p>{% trans "Rahbar malumot-4" %}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>



    <div class="adivisor pt-100">
        <div class="container my_cont">

            <div class="col-xl-4 col-lg-4 mb-30">
                <div class="advisor-img mb-35">
                    <img src="{% static 'images/adminstration/r-5.png' %}" alt="">
                </div>
                <div class="advisors-social-icon-list mb-30">
                    <span class="social-title">{% trans "Ijtimoiy tarmoqlar" %}</span>
                    <ul>
                        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="#"><span class="fa fa-telegram"></span></a></li>
                        <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                        <li><a href="#"><span class="fa fa-google"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-7 col-lg-8">
                <div class="adivisor-text-2 white-bg">
                    <div class="adivisor-text-heading d-flex mb-10">
                        <div class="adivisor-text-title adivisor-text-title-2">
                            <h4>Yuldosheva Dilrabo Fozilovna</h4>
                            <span>{% trans "Lavozim-5" %}</span>
                        </div>
                    </div>
                    <div class="adivisor-para adivisor-para-2">
                        <p>{% trans "Rahbar malumot-5" %}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>



    <div class="adivisor pt-100">
        <div class="container my_cont">

            <div class="col-xl-4 col-lg-4 mb-30">
                <div class="advisor-img mb-35">
                    <img src="{% static 'images/adminstration/r-6.png' %}" alt="">
                </div>
                <div class="advisors-social-icon-list mb-30">
                    <span class="social-title">{% trans "Ijtimoiy tarmoqlar" %}</span>
                    <ul>
                        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="#"><span class="fa fa-telegram"></span></a></li>
                        <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                        <li><a href="#"><span class="fa fa-google"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-7 col-lg-8">
                <div class="adivisor-text-2 white-bg">
                    <div class="adivisor-text-heading d-flex mb-10">
                        <div class="adivisor-text-title adivisor-text-title-2">
                            <h4>Yadgarov Alisher Nurmuhamedovich</h4>
                            <span>{% trans "Lavozim-6" %}</span>
                        </div>
                    </div>
                    <div class="adivisor-para adivisor-para-2">
                        <p>{% trans "Rahbar malumot-6" %}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
{% endblock content %}