{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load collective_tags %}
{% load blog_tags %}
{% load galery_tags %}

{% block title %}{% trans "Jamoa" %}{% endblock %}

{% block content %}

<!--====== PAGE BANNER PART START ======-->

<section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="8"
    style="background-image: url({{ category.img.url }})">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-banner-cont">
                    <h2>{{ category.name }}</h2>

                </div> <!-- page banner cont -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== PAGE BANNER PART ENDS ======-->


<div class="col-lg-12  mb-3">
    <div class=" mt-20">
        <div class="row">
            {% with employees=category.employees.all %}

            {% for employee in employees %}
            <div class="col-sm-4">
                <div class="singel-teachers mt-30 text-center">
                    <div class="image" style="height: 400px;">
                        <img src="{{ employee.img.url }}" style="height: 100%;" alt="Teachers">
                    </div>
                    <div class="cont">

                        <h6>{{employee.full_name}}</h6>

                        <span>{{ employee.position }}</span>
                    </div>
                </div> <!-- singel teachers -->
            </div>
            {% empty %}
            {% trans "No employes yet." %}
            {% endfor %}

            {% endwith %}

        </div> <!-- row -->
    </div> <!-- teachers -->
</div>
{% endblock %}